ANCHOR_PROVIDER_URL=https://api.devnet.solana.com
ANCHOR_WALLET=~/.config/solana/id.json
HWAL_PROGRAM_ID=fSLsjTm9PGfbrAgosY2kYb1MnFEpn8LALo5cY5a4AkJ
HWAL_FEED_AUTHORITY=~/.config/solana/hwal-feed-authority.json
HWAL_KEEPER_INTERVAL_MS=500
HWAL_LOG_LEVEL=info
HWAL_NETWORK=devnet
